.nfr-list {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-left: 4rem;
  margin-right: 4rem;
}

.nft-container {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
}
